Load the dataset “prisoners.csv” using pandas and display the first and last five rows in the dataset.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('prisoners.csv')

In [4]:
df.head()

,STATE/UT,YEAR,No. of Inmates benefitted by Elementary Education,No. of Inmates benefitted by Adult Education,No. of Inmates benefitted by Higher Education,No. of Inmates benefitted by Computer Course
0,Andhra Pradesh,2013,9480,13758,672,170
1,Arunachal Pradesh,2013,0,0,0,0
2,Assam,2013,676,750,14,30
3,Bihar,2013,1693,3013,125,1417
4,Chhatisgarh,2013,1664,1803,192,103

In [5]:
df.tail()

,STATE/UT,YEAR,No. of Inmates benefitted by Elementary Education,No. of Inmates benefitted by Adult Education,No. of Inmates benefitted by Higher Education,No. of Inmates benefitted by Computer Course
30,D & N Haveli,2013,0,0,0,0
31,Daman & Diu,2013,0,0,0,0
32,Delhi,2013,1458,1187,908,174
33,Lakshadweep,2013,0,0,0,0
34,Pondicherry,2013,0,0,0,0

In [6]:
desc = df.describe()
print(desc)

         YEAR  No. of Inmates benefitted by Elementary Education  \
count    35.0                                          35.000000
mean   2013.0                                        1057.914286
std       0.0                                        2078.196777
min    2013.0                                           0.000000
25%    2013.0                                           0.000000
50%    2013.0                                         167.000000
75%    2013.0                                        1294.500000
max    2013.0                                        9480.000000

       No. of Inmates benefitted by Adult Education  \
count                                     35.000000
mean                                    1534.857143
std                                     3022.110503
min                                        0.000000
25%                                        6.500000
50%                                      237.000000
75%                                     1733.500000
max                                    13758.000000

       No. of Inmates benefitted by Higher Education  \
count                                      35.000000
mean                                      237.457143
std                                       375.614191
min                                         0.000000
25%                                         2.000000
50%                                        33.000000
75%                                       234.500000
max                                      1353.000000

       No. of Inmates benefitted by Computer Course
count                                     35.000000
mean                                     210.171429
std                                      359.117340
min                                        0.000000
25%                                        0.000000
50%                                       38.000000
75%                                      227.500000
max                                     1417.000000

In [9]:
df.shape[1]

6